<div class="container flex-grow-1 light-style container-p-y">
    <div class="container-m-nx container-m-ny bg-lightest mb-3">
        <ol class="breadcrumb text-big container-p-x py-3 m-0">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">projects</a>
            </li>
            <li class="breadcrumb-item active">site</li>
        </ol>

        <hr class="m-0" />

        <div class="file-manager-actions container-p-x py-2">
            <div>
              <button type="button" class="btn btn-primary mr-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="ion ion-md-cloud-upload"></i>&nbsp; Upload</button>  
            </div>
        </div>

        <hr class="m-0" />
    </div>

    <div class="file-manager-container file-manager-col-view">

        <div *ngFor="let f of files" class="file-item">
          
            <div *ngIf="f.type !=='image/png' && f.type !=='image/jpeg'"
                  class="file-item-icon far"
                  [class.fa-file-word]="f.type === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"
                  [class.fa-file-pdf]="f.type === 'application/pdf'"
                  [class.fa-file-alt]="f.type === 'text/plain'"
                  [class.fa-folder]="f.type === 'application/octet-stream'"
                  [ngClass]="f.type === 'application/x-zip-compressed' ? 'fa-folder': 'fa-file'"></div>
            
            <div *ngIf="f.type=='image/jpeg' || f.type=='image/png'" 
                  class="file-item-img" [style]="'background-image: url('+f.urlFile+');'"></div>
            <a [href]="f.urlFile" target="_blank" class="file-item-name">
                {{f.name}}
            </a>
            
            <div class="dropdown file-item-actions btn-group">
              <button type="button" class="btn btn-default btn-sm rounded-pill icon-btn borderless md-btn-flat hide-arrow dropdown-toggle" data-bs-toggle="dropdown">
                <i class="ion ion-ios-more"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                  <button (click)="userToDelete=f.id" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Remove <i class="far fa-trash-alt"></i>
                  </button>
              </div>
          </div>
        </div>

        <div *ngIf="!files.length">
          <h6>No file was found</h6>
        </div>        

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="staticBackdropLabel">Upload files</h3>
        <button type="button" class="btn-close border-0" data-bs-dismiss="modal" aria-label="Close">
          &times;
        </button>
      </div>
      <div class="modal-body"> 
            <input type="file" (change)="getFile($event)">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="submitData()">Upload</button>
      </div>
    </div>
  </div>
</div>

<!--Delete Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
        <button type="button" class="btn-close border-0" data-bs-dismiss="modal" aria-label="Close">
          &times;
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this File?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
        <button (click)="delete()" type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa-solid fa-trash-can"></i> Delete</button>
      </div>
    </div>
  </div>
</div>